<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    
        <div class="navbar-header">
            <a class="navbar-brand" href="list.html">
                Go GaGa
            </a>
    
            <ul class="nav navbar-nav">
                <li><a href="/gogaga/list.html">Friends profile</a></li>
                <li><a href="/gogaga/add.html">Invite your friends</a></li>
            </ul>
        </div>
    
    </div>
    </nav>